<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>SFC Delivery</title>
</head>

<body>
  <div class="container justify-content-center m-2">
    <div class="display-3 lead mb-3">Delivery Service Inventory MGMT
    </div>

    <div class="d-flex justify-content-center" id="button-nav">
        <p>Select an option to display</p>
        <div class="p-2 m-2" id="button-div">
        <button type="button" class="btn btn-primary" id="allBtn" value="all">ALL</button>
        <button type="button" class="btn btn-primary" id="foodBtn"value="food">FOOD</button>
        <button type="button" class="btn btn-primary" id="drinkBtn" value="drink">DRINK</button>
        <button type="button" class="btn btn-primary" id="candyBtn" value="candy">CANDY</button>
        <button type="button" class="btn btn-primary" id="lowBtn" value="low">LOW</button>
    </div>

    </div>
    <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">ID#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Type</th>
            <th scope="col">PPU</th>
            <th scope="col">Stock Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Lays BBQ</td>
            <td>FOOD</td>
            <td>$1.25</td>
            <td>50</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Doritios COOL RANCH</td>
            <td>FOOD</td>
            <td>$1.50</td>
            <td>45</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Pretzels Synders</td>
            <td>FOOD</td>
            <td>$1.75</td>
            <td>35</td>
          </tr>
        </tbody>
      </table>

</div>
</html>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/mgmt.js"></script>
<script src="/js/index.js"></script>s